@{
    ViewData["Title"] = "Test Email Sonucu";
}
<div class="container mt-5">
    <div class="card p-4">
        <h3>@ViewBag.EmailResult</h3>
        <a href="/Account/Login" class="btn btn-primary mt-3">Girişe Dön</a>
    </div>
</div> 